a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color:black;
  background-color: aliceblue;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;

}
ul.li{
  list-style-type: none;
}
mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
