<div class="card1"></div>

  <div class="card-body text-center">
    <label class="hoverable" for="fileInput" style="text-align: center;">
   <img *ngIf="employee" src="{{url}}"/>
    <div class="hover-text">Choose file</div>
   </label>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">

    <div class="card-title text-primary">
      <h1>
        <span class="px-2">{{emp_fname}}</span>
        <span class="px-2">{{emp_lname}}</span>
      </h1>
    </div>
    <div class="card-text">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      {{emp_email}}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faPhone"></fa-icon>
      {{  emp_phone}}
    </div>
<br>
    
    <section fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="element">
            <mat-card-content
          fxLayout="row"
          fxLayoutGap="50px"
          fxLayoutAlign="space-between"
        >
          <div class="example-button-row">
            <div class="example-flex-container">
              <button
              mat-raised-button 
                color="primary"
                [disabled]="isSubmited()"
                (click)="redirectToAddKpi(emp_emp_id)"
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>assignment_ind</mat-icon>
                <span class="button-text">Add Kpi</span>
              </button>
              <button
              mat-raised-button 
                color="accent"
                (click)="redirectToDetails(emp_emp_id)"
                aria-label="Example icon button with a menu icon"
              >
                <mat-icon>menu</mat-icon>
                <span class="button-text">Kpi Details</span>
              </button>
              <button
              mat-raised-button 
              color="primary"
              (click)="redirectToOwnDetails(emp_emp_id)"
              aria-label="Example icon button with a menu icon"
            >
            <mat-icon>list</mat-icon>
            <span class="button-text">Own Details</span>
            </button>
            </div>
          </div>
        </mat-card-content>
        </div>
    </section>
    <br>
<app-employee-under></app-employee-under>
  </div>

