
.card-container {
  /*  not needed styles to reflect it */
  padding: 10px;
  color: blue;
  width: 100%;

  /* needed styles below */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {

background-color:ghostwhite;
}
.dashboard-name{
  float: left;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  left: 41%;

  border-radius: 50%;
}
.hover-text{
  color:red;
  display: block;

}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}

.card1 {
   /* margin-top: 100px; */
   background-image: url('../../../assets/ogma-conceptions-banner.jpg');

}
.card1{
  height: 200px;
}
.hoverable{
  margin-top: -90px;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  /*  not needed styles to reflect it */
  padding: 10px;
  color: blue;
  width: 100%;

  /* needed styles below */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {

background-color:ghostwhite;
}
.dashboard-name{
  float: left;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  left: 41%;

  border-radius: 50%;
}
.hover-text{
  color:red;
  display: block;

}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}

.card1 {
   /* margin-top: 100px; */
   background-image: url('../../../assets/ogma-conceptions-banner.jpg');

}
.card1{
  height: 200px;
}
.hoverable{
  margin-top: -90px;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding-left: 50px;
  padding-right: 74px; /* Add 24px to align the text in the center since the icon's width is 24px */
}


