<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Create a new Employee</mat-card-title>

    <form
      [formGroup]="employeeForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="addemployee(employeeForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Employee's Id"
            formControlName="employee_id"
            id="employee_id"
          />
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('f_name', 'required')"
            >Employee Id is required</mat-error
          >
          <mat-error *ngIf="hasError('f_name', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Employee's First name"
            formControlName="f_name"
            id="f_name"
          />
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('f_name', 'required')"
            >First Name is required</mat-error
          >
          <mat-error *ngIf="hasError('f_name', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Employee's Last name"
            formControlName="l_name"
            id="l_name"
          />
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('l_name', 'required')"
            >Last Name is required</mat-error
          >
          <mat-error *ngIf="hasError('l_name', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Employee's email"
            formControlName="email"
            id="email"
          />
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('email', 'required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="hasError('email', 'maxlength')"
            >You have more than 100 characters</mat-error
          >
          <mat-error *ngIf="hasError('email', 'email')"
            >Please input a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            id="mysecretpassword"
            type="password"
            formControlName="password"
            placeholder="Password"
            matInput
            showHideInput
          />
          <i
            matSuffix
            class="material-icons"
            showHideTrigger="mysecretpassword"
            [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
          ></i>
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('password', 'required')"
            >password is required</mat-error
          >
          <mat-error *ngIf="hasError('password', 'maxlength')"
            >You have more than 100 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Employee's phone no"
            formControlName="phone"
            id="phone"
          />
          <mat-hint align="end">Not more then 15 characters long.</mat-hint>
          <mat-error *ngIf="hasError('phone', 'required')"
            >phone is required</mat-error
          >
          <mat-error *ngIf="hasError('phone', 'maxlength')"
            >You have more than 15 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Employee Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of employee" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Supervisor Name</mat-label>
          <mat-select formControlName="sup_name" [disabled]="isdisable()" >
            <mat-option value="N/A">None</mat-option>
            <mat-option
              *ngFor="let supervisor of super"
              [value]="supervisor.value"

            >
              {{ supervisor.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!employeeForm.valid"
        >
          Add
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
